{%extends "pages/about-nav.html" %} {% load static %} {% block content %}
<div class="containerisation y-scroll y-mandatory">
  <div class="container wrapper">
    <div class="slider" id="slide">
      <span id="first" class="Rectangle175 active"></span>
      <span id="second" class="Rectangle175"></span>
      <span id="third" class="Rectangle175"></span>
      <span id="fourth" class="Rectangle175"></span>
      <span id="fifth" class="Rectangle175"></span>
    </div>
    <div class="row" id="about-page-info">

        <div class="col-12 element">
          <section class="section-beutifier">
            <img src="{% static 'pages/images/Frame (3).svg' %}" alt="" />
            <p>
              <br />
              <span>So how it all started? </span> <br />
              Our aim was (and still is) to create a professional community for
              traders, where performance is transparent and audited, and the
              learning process of trading is relatively easier, with the
              intention to help both the novice traders and the seasoned
              alike.<br /><br />
              So we created a unique platform for collaboration and ideas
              sharing. And how did we do that exactly? Myfxbook is the first
              social community for forex traders with the ability to connect
              with your forex trading account. By doing so, we achieve the
              following capabilities:
            </p>
          </section>
        </div>
      {% comment %} {% endcomment %}
        <div class="col-12 element">
          <section class="section-beutifier">
            <img src="{% static 'pages/images/pic2.svg' %}" alt="" />
            <p>
              <br />
              <span>Analyze your trading system. </span> <br />
              Analyze your account with our advanced trade analysis and
              understand your trading habits, inside out.
              <br />
              Forget about spreadsheets, or any manual calculations yout're used
              to. Let us do math - not only your account will be analyzed
              automatically without your intervention, but yout'll have more
              time to trade.
            </p>
          </section>
        </div>
      {% comment %} {% endcomment %}

        <div class="col-12 element">
          <section class="section-beutifier">
            <img src="{% static 'pages/images/Frame (4).svg' %}" alt="" />
            <p>
              <br />
              <span
                >Use our innovative dashboard to stay up to date with the
                markets.
              </span>
              <br />
              We've combined what we think is the most important information
              each trader should learn before starting his trading session, in
              one single dashboard - Markets status, top news, and economic
              events calendar. Additionally, you can see what are the recent
              discussions in the community, and how are other systems yout're
              watching performing.
            </p>
          </section>
        </div>

      {% comment %} {% endcomment %}
        <div class="col-12 element" >
          <section class="section-beutifier">
            <img src="{% static 'pages/images/Frame (5).svg' %}" alt="" />
            <p>
              <br />
              <span>Find a money manager. </span>
              <br />
              Searching for a money manager? Use the 'Search Systems' feature
              and find a suitable money manager. Browse through their public
              portfolios, and see if they are capable of making the returns
              you're looking for. Remember, the results you see here are real
              and verified.
            </p>
          </section>
        </div>

      {% comment %} {% endcomment %}

        <div class="col-12 element">
          <section class="section-beutifier jumbotron">
            <img src="{% static 'pages/images/Group (2).svg' %}" alt="" />
            <p>
              <br />
              <span style="font-size: 20px">Got any Questions? </span>
              <br />
              Just send us a message with your question. Feel free to ask about
              anything.
              <span>
                <br /><br />
                <span>
                  <a href="#"
                    ><img
                      src="{% static 'pages/images/whatsapp.svg' %}"
                      alt="Whatsapp icon" /></a
                ></span>
                <span>
                  <a href="#"
                    ><img
                      src="{% static 'pages/images/telegram.svg' %}"
                      alt="telegram icon"
                  /></a>
                </span>
                <span>
                  <a href="#"
                    ><img
                      src="{% static 'pages/images/mail.svg' %}"
                      alt="mail icon"
                  /></a>
                </span>
              </span>
            </p>
          </section>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
