{%extends "pages/base.html" %} {% block content %}
<div class="mt-5">
  <br />
</div>

<div class="portfolio-responsive">

  <h1 class="portfolio-h1">Portfolios</h1>

  <ul class="list-group portfolio-ul">

    <li class="list-group-item portfolio-list">
      <div class="area1">
        <a href="#">Portfolio 1</a>
        <p>System</p>
      </div>
      <div class="area2">
        <p class="area_p_1">+243.33%</p>
        <p class="area_p_2">Total%</p>
      </div>
      <div class="area3">
        <p class="area_p_1">+243.33%</p>
        <p class="area_p_2">Total%</p>
      </div>
      <div class="area4">
        <p class="area_p_1">+243.33%</p>
        <p class="area_p_2">Total%</p>
      </div>
      <div class="area5">
        <p class="area_p_1">+243.33%</p>
        <p class="area_p_2">Total%</p>
      </div>
      <div class="area6">
        <div class="area-p-arrow-option">
          &#9660;
        </div>
      </div>
    </li>

    <li class="list-group-item portfolio-list">
      <div class="area1">
        <a href="#">Portfolio 1</a>
        <p>System</p>
      </div>
      <div class="area2">
        <p class="area_p_1">+243.33%</p>
        <p class="area_p_2">Total%</p>
      </div>
      <div class="area3">
        <p class="area_p_1">+243.33%</p>
        <p class="area_p_2">Total%</p>
      </div>
      <div class="area4">
        <p class="area_p_1">+243.33%</p>
        <p class="area_p_2">Total%</p>
      </div>
      <div class="area5">
        <p class="area_p_1">+243.33%</p>
        <p class="area_p_2">Total%</p>
      </div>
      <div class="area6">
        <div class="area-p-arrow-option">
          &#9660;
        </div>
      </div>
    </li>

    <li class="list-group-item portfolio-list">
      <div class="area1">
        <a href="#">Portfolio 1</a>
        <p>System</p>
      </div>
      <div class="area2">
        <p class="area_p_1">+243.33%</p>
        <p class="area_p_2">Total%</p>
      </div>
      <div class="area3">
        <p class="area_p_1">+243.33%</p>
        <p class="area_p_2">Total%</p>
      </div>
      <div class="area4">
        <p class="area_p_1">+243.33%</p>
        <p class="area_p_2">Total%</p>
      </div>
      <div class="area5">
        <p class="area_p_1">+243.33%</p>
        <p class="area_p_2">Total%</p>
      </div>
      <div class="area6">
        <div class="area-p-arrow-option">
          &#9660;
        </div>
      </div>
    </li>

  </ul>
  </div>

</div>

{% endblock content %}
